aside.col-md-2.bg-light.border-right.min-vh-100.p-0
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action(href="/admin/dashboard")
      i.fa.fa-home.mr-2
      | Dashboard

    a.list-group-item.list-group-item-action(href="/admin/task")
      i.fa.fa-tasks.mr-2
      | Task